.cv-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    max-width: 45rem;
    margin: 0 auto;

    .title-name {
        text-align: center;
    }

    .subtitle {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

        li {
            margin: 10px 0 0 2%;
        }
    }
}

@media screen and (max-width: 750px) {
    .cv-container{
        margin: 0 20px;
    }
  }